.product-container {
    display: flex;
    gap: 32px;
    align-items: flex-start;
}

@media screen and (max-width: 800px) {
    .product-container {
        flex-direction: column;
    }
}

.product-header-wapper {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 16px;
}

.product-body-wapper {
    flex: 1;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    background-color: var(--color-slate-300);
    background-image: radial-gradient(transparent 1px, var(--color-slate-50) 1px);
    background-size: 32px 32px;
    background-position: center center;
}

.gallery-container img {
    width: 100%;
    height: auto;
}

.product-specifications-title {
    color: var(--color-text-secondary);
    padding-bottom: 8px;
}

#product-specifications {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#btn-download {
    height: 48px;
    font-size: 20px;
}

#btn-download:disabled {
    background-color: var(--color-lime-600);
    border-color: var(--color-lime-600);
    opacity: 0.65;
    /* color: var(--color-lime-950); */
}

#product-attribute dl {
    display: flex;
    align-items: stretch;
    margin: 0;
    gap: 16px;
    border-top: 1px solid var(--color-card-border);
    border-bottom: 1px solid var(--color-card-border);
    min-height: 2.5rem;
}

#product-attribute dl+dl {
    border-top: none;
}

#product-attribute dt {
    flex: 1;
    min-width: 9rem;
    background-color: var(--color-slate-50);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

#product-attribute dd {
    flex: 3;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#product-body {
    padding-right: 16px;
    color: var(--color-text-primary);
}

#product-body em {
    color: var(--color-text-regular);
}

#link-download {
    display: none;
}